<div class = "container">
   <h1>Product Form</h1>
   <form>
      <div class = "form-group">
         <label for = "studentid">Student ID</label>
         <input type = "text" class = "form-control" id = "id" required
            [(ngModel)] = "model.studentid" name = "studentid">
      </div>

      <div class = "form-group">
         <label for = "firstname">Firstname</label>
         <input type = "text" class = "form-control" id = "firstname"
            [(ngModel)] = "model.firstname" name = "firstname">
      </div>

      <div class = "form-group">
         <label for = "lastname">Lastname</label>
         <input type = "text" class = "form-control" id = "lastname"
            [(ngModel)] = "model.lastname" name = "lastname">
      </div>

      <div class = "form-group">
         <label for = "a">Name</label>
         <input type = "text" class = "form-control" id = "lastname"
            [(ngModel)] = "model.lastname" name = "lastname">
      </div>

      <div class = "form-group">
         <label for = "name">Name</label>
         <input type = "text" class = "form-control" id = "lastname"
            [(ngModel)] = "model.lastname" name = "lastname">
      </div>

   </form>
</div>
